.bg-roxo{
    background-color:#7E459B;
    ;

    
}

.img-carousel{
    object-fit: fill;
    object-position:0 40%;
    height: 65vh;
}

.colocar-padding{
    margin: 15px;
    padding: 20px;
}

.logo--redesSociais{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 50px;
}

.link--sobre:hover{
    color: rgb(207, 118, 180);

}

main{
    background-color:#7E459B;
}
