.bg-roxo{
    background-color: #2a9d8f;
    ;

    
}

.img-carousel{
    object-fit: fill;
    object-position:0 40%;
    height: 65vh;
}

.colocar-padding{
    margin: 15px;
    padding: 20px;
}

.logo--redesSociais{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 50px;
}

.link--sobre{
    color:#003049 ;
}

.link--sobre:hover{
    color: #e9c46a;

}

.img-card--bla{
    width: 280px;
    height: 100px;
    margin-top: 10px;
}

a{
    color:inherit ;
}

